/*=======================
 * CUSTOM PROPERTIES
 *========================**/

:root {
  /*colors */
  --clr-cyan-300: 192 37% 48%;
  --clr-cyan-600: 192 90% 77%;

  --clr-purple-300: 268 100% 86%;
  --clr-purple-600: 268 34% 53%;

  --clr-slate-300: 240 18% 85%;
  --clr-slate-600: 240 10% 57%;
  --clr-slate-900: 240 21% 20%;

  --clr-white: 0 0% 98%;

  /* font-family */
  --ff-sans: "Red Hat Display", sans-serif;

  /* font size */
  --fs-900: 4rem; /*64px*/
  --fs-600: 2.5rem; /*40px*/
  --fs-200: 1.125rem; /*18px*/
  --fs-100: 1rem; /*16px*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-100);
  font-weight: 500;

  /* improve text rendering on mac */
  -webkit-font-smoothing: antialiased;

  background-color: hsl(var(--clr-white));
  line-height: 1.5;
}

img {
  /* https://www.youtube.com/watch?v=345V2MU3E_w */
  font-style: italic;

  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

/*=======================
 * UTILITY CLASS
 *========================**/

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/*=======================
 * COMPONENTS
 *========================**/
header {
  display: flex;
  height: 4.75rem;
  justify-content: center;
}

.logo {
  align-self: flex-end;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem 2rem 2rem;
  gap: 3rem;
  overflow: hidden;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 1.675rem;
}

.image-container img {
  width: 55vw;
  max-width: none;
}

.hero-content {
  --flow-space: 1.5rem;
}
